page-empresa {
    ion-content{ 
        width: 80%;
        margin:50px auto;
        position: relative !important;
        margin-top: 10px;
        .title {
            font-size: 24px;
            
        }
       
    }
    
}
